package config

import (
    "strings"

{{ if (index .Modules "gin")}}
    "{{ .ModulePath}}/pkg/util"
{{ end}}

    "github.com/spf13/viper"
)

type IConfig interface {
    Validate() []error
}

type GlobalConfig struct {
{{- if (index .Modules "gin")}}
    Port int `mapstructure:"port" json:"port,omitempty" yaml:"port,omitempty"`
{{- end}}
{{- if (index .Modules "gorm")}}
    DBConfig *DBConfig `mapstructure:"db" json:"db" yaml:"db"`
{{- end}}
}

func (g *GlobalConfig) Validate() []error {
    var errs = make([]error, 0)
{{- if (index .Modules "gin")}}
    if err := util.IsValidPort(g.Port); err != nil {
        errs = append(errs, err)
    }
{{- end}}
{{- if (index .Modules "gorm")}}
    if es := g.DBConfig.Validate(); len(es) > 0 {
        errs = append(errs, es...)
    }
{{- end}}
    return errs
}

func NewDefaultGlobalConfig() *GlobalConfig {
    return &GlobalConfig{
{{- if (index .Modules "gin")}}
        Port:              3000,
{{- end}}
{{- if (index .Modules "gorm")}}
        DBConfig:       NewDefaultDBConfig(),
{{- end}}
    }
}
func TryLoadFromDisk(configFilePath string) (*GlobalConfig, error) {
	v := viper.New()
	v.SetConfigFile(configFilePath)
	v.AutomaticEnv()
	v.SetEnvKeyReplacer(strings.NewReplacer(".", "_"))
	if err := v.ReadInConfig(); err != nil {
		return nil, err
	}
	cfg := NewDefaultGlobalConfig()
	if err := v.Unmarshal(cfg); err != nil {
		return nil, err
	}
	return cfg, nil
}
