package main

import (
    "fmt"
    "os"
{{- if (index .Modules "zap")}}
    "time"
{{- end}}

    "{{ .ModulePath}}/cmd"

{{- if (index .Modules "zap")}}
    "go.uber.org/zap"
    "go.uber.org/zap/zapcore"
{{- end}}
)

{{- if (index .Modules "zap")}}
func initZapLog() *zap.Logger {
    config := zap.NewProductionConfig()
    config.DisableStacktrace = true
    config.EncoderConfig.EncodeLevel = zapcore.CapitalColorLevelEncoder
    config.EncoderConfig.EncodeTime = zapcore.TimeEncoderOfLayout(time.DateTime + ".000")
    config.Encoding = "console"
    config.Level = zap.NewAtomicLevelAt(zap.DebugLevel)
    logger, err := config.Build()
    if err != nil {
        panic(err)
    }
    return logger
}
{{- end}}

func main() {
{{- if (index .Modules "zap")}}
    logger := initZapLog()
    zap.ReplaceGlobals(logger)
    defer func() { _ = logger.Sync() }()
{{- end}}
    if err := cmd.NewRootCommand().Execute(); err != nil {
        _, _ = fmt.Fprintln(os.Stderr, err)
        os.Exit(1)
    }
}
