package cmd

import (
    "errors"
{{- if (index .Modules "gin")}}
    "context"
{{- end}}

    "{{ .ModulePath}}/config"
{{- if (index .Modules "gorm")}}
    "{{ .ModulePath}}/pkg/db"
{{- end}}
{{- if (index .Modules "gin")}}
    "{{ .ModulePath}}/pkg/server"
    "{{ .ModulePath}}/pkg/signals"
{{- end}}
    "{{ .ModulePath}}/pkg/util"

    "github.com/spf13/cobra"
{{- if and (index .Modules "gin") (index .Modules "zap")}}
    "go.uber.org/zap"
{{- end}}
{{- if (index .Modules "gin")}}
    "golang.org/x/sync/errgroup"
{{- end}}
)

func NewRootCommand() *cobra.Command {
    var configFilePath string
    cmd := &cobra.Command{
        Use:   "{{ .ProjectName}}",
        Short: "Run {{ .ProjectName}} server",
        Args:  cobra.NoArgs,
        CompletionOptions: cobra.CompletionOptions{
            DisableDefaultCmd:   true,
            DisableNoDescFlag:   true,
            DisableDescriptions: true,
            HiddenDefaultCmd:    true,
        },
        RunE: func(cmd *cobra.Command, args []string) error {
            cfg, err := config.TryLoadFromDisk(configFilePath)
            if err != nil {
                return err
            }
            if errs := cfg.Validate(); len(errs) > 0 {
                return errors.Join(errs...)
            }
{{- if (index .Modules "gorm")}}
            if err := db.InitTiDB(cfg); err != nil {
                return err
            }
{{- end}}
{{- if (index .Modules "gin")}}
            return run(cfg, signals.SetupSignalHandler())
{{- else}}
            return nil
{{- end}}
        },
        SilenceUsage:  true,
        SilenceErrors: true,
        Version:       util.GetVersion().Version,
    }
    cmd.Flags().StringVarP(&configFilePath, "config", "c", "./etc/config.yaml", "配置文件路径")
    return cmd
}

{{- if (index .Modules "gin")}}
func run(cfg *config.GlobalConfig, ctx context.Context) error {
    s := server.NewServer(cfg)
    g, groupCtx := errgroup.WithContext(ctx)
    g.Go(s.Run)
{{- if (index .Modules "zap")}}
    zap.S().Debugf("http server[:%d] 已经运行...", cfg.Port)
{{- end}}
    g.Go(func() error {
        <-groupCtx.Done()
        s.GracefulShutdown()
        return nil
    })
    return g.Wait()
}
{{- end}}
